@media screen and (max-width: 450px) {
/*==Article Page==*/
h2{
    font-size: 30px!important;
}

.additional-items{
    flex-direction: column;
}
.btn-rm{
    width: 50%;
    margin-top: 10px;
}

.article-section{
    width: 100%;
    margin: auto;
    margin-top: 40px;
}

.article-page{
    width: 100vw;
    padding: 5%;
    overflow: hidden;
}

.article-tag {
    margin-left: 20px;
}
.date-tag{
    font-size: 18px !important;
    margin-top: 10px;
}

/*==Books==*/
.latest-book{
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5%;
}
.book{
    margin-top: 40px;
    width: 100%;
    
}
.carousel-item {
    height: 600px;
}
.slider-area{
    width: 90vw;
}
.name,
.review-text{
    font-size: 16px;
}
.review-text{
    text-align: center;
}
.img-area{
    height: 100px;
    width: 100px;
}



/*==About==*/
.about-section .row .about-content .panel{
    position: initial;
    padding: 10px;
    text-align: justify;
}
.about-section .row .about-content .panel h2{
    text-align: center;
    padding-top: 10px;
}
.about-section .row .about-content{
    margin-top: -310px;
}
.about-section .row .col-md-6 .pray img {
    width: 70vw;
    height: 40vh;
}
.numbers .rect {
    margin-bottom: initial;
    border-radius: 4px;
}
.numbers .rect {
    margin-bottom: initial;
}
.rect-last{
    margin-bottom: 146px;
}
.award-section-container{
    margin-top: 146px;
}

.awards-section {
    padding: 5%;
}   

.award{
    width: 100%;
}
.award div {
    width: 67vw;
    margin: initial;
}
.numbers{
    display: none;
}
.about-row{
    width: 100vw;
    height: auto;
}



/*==Contact==*/

.contact-content{
    flex-direction: column;
    width: 100%;
    padding: 0%;
}
.touch {
    width: 100%;
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
}
.touch-title{
    text-align: left;
    /* margin: auto; */
}

.contact-social{
    width: 80%;
    margin: auto;
}


.contact-form{
    width: 100%;
    margin-top: 100px;
}


/* Books  */







/* Footer  */

.section-container-footer{
    width: 100%;
    padding: 5%;
}
 
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15% 0%;
  }
 
  .footer-content h4{
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer-content input {
    height: 50px;
    padding: 1% 3%;
}

  .footer-content input::placeholder {
    font-size: 14px;
  }

  .fotter-items{
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 5%;
    margin: auto;
  }

  .footer-left{
      width: 100%;
  }

  .footer-left p{
    width: 144px;
    height: 50px;
    margin: 0 0 0 -40px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
  



}
