@media screen and (max-width: 450px) {

    * {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    box-sizing: border-box;
    }

    body{
    background-color: #0e1630;
    width: 100%;
    }

    .body{
    background-color: #0e1630;
    }

    .section-container {
    width: 100%;
    background-color: #0e1630;
    }

    p {
    font-size: 20px;
    color: #808dad;
    }

    h2{
    color: #eb4a4a;
    font-size: 40px;
    font-weight: bold;
    }

    .logo {
    height: 80px;
    background-color: #ffffff;
    color: #eb4a4a;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
    .logo h2{
    font-size: 48px;
    font-weight: bold;
    }

    nav {
    height: auto;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    justify-items: center;
    background-color: #0e1630;
    font-size: 20px;
    font-weight: bold;
    color: #808dad;
    }
    .nav-links {
    flex: 1;
    text-align: center;
    }

    .nav-links a {
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    }

    .nav-links a.active::after {
    content: "";
    width: 60%;
    height: 2px;
    background: red;
    display: block;
    margin: 0;
    }

    .nav-links a.hamburger{
    display: none;
    }

    .header {
    min-height: 100vh;
    width: 100%;
    background-image: url(../image/introbg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    }

    /* changes */
    .text-box {
    width: 100%;
    color: #ffffff;
    margin: 0% auto auto auto;
    display: flex;
    justify-content: center;
    }

    /* changes */
    .text-box h2 {
    font-size: 30px;
    font-weight: bold;
    }

    /* changes */
    .text-box p {
    font-size: 18px;
    margin-top: 25px;
    text-align: justify;
    }

    /* changes */
    .text-box div {
        margin-top: 100%;
        padding: 5% 5% 20% 5%;
        width: 100%;
        text-align: center;
    }

    .left-box{
        background-color: rgba(14, 22, 48, 0.7);
        padding: 20%;
        /* opacity: 0.5; */
    }

    /* Changes */
    .right-box {
    display: none;
    }



    /* Starting of About */
    .row {
    width: 100%;
    height: 880px;
    background-color: #0e1630;
    border-top: 1px solid #808dad;
    color: #808dad;
    }

    /* changes */
    .about_container {
    padding-top: 20%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
    width: 100%;
    }

    /* changed */
    .about_content{
        /* width: 80%; */
        padding: 5%;
    }

    /* changed */
    .about_content h2 {
    font-size: 30px; 
    font-weight: bold;
    color: #eb4a4a;
    margin: 30px 0;
    }

    /* changed */
    .about_content p {
    width: 100%;
    font-size: 18px;
    text-align: justify;
    }

    /* changed */
    .about_social {
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: space-between;
    }

    /* changed */
    .about_social img {
    width: 17%;
    height: auto;
    }

    /* changed */
    .a_img {
    width: 287px;
    height: 363px;
    /* position: relative; */
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    }

    .a_img img {
    width: 100%;
    height: 100%;
    }

    .play_btn {
        height: 30%;
        position: absolute;
        left: 45%;
        bottom: -7%;
        margin-left: -50px;
        margin-bottom: -20px;
    }

    /*End of About*/









    /* Publications */

    .publication {
        width: 100%;
        margin: auto;
        text-align: center;
        padding: 20% 5% 0% 5%;
    }

    .publication h2 {
        font-size: 30px;
        margin-bottom: 15%;
    }

    .row-publications {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    .publication-col {
        display: flex;
        justify-items: center;
        flex-direction: column;
        margin: 5% auto 15% auto;
        text-align: center;
    }

    .publication_icons {
        width: 120px;
        height: 120px;
        background-color: rgba(128, 141, 173, 0.5);
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .publication_icons img {
        width: 80px;
        height: 80px;
    }

    .publication-col h4 {
        font-size: 26px;
        font-weight: 500;
        color: #ffffff;
        margin: 30px 0 20px 0;
    }

    .publication-col p {
        text-align: center;
        font-size: 18px;
    }



    /* Slider */

    .header-text {
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 20% 5% 20% 5%;
    }

    .header-text h2{
        font-size: 30px;
        margin-bottom: 25%;
    }
    #wrapper {
        width: 100%;
        /* max-width: 1168px; */
        margin: auto;
        margin-top: 5%;
        position: relative;
    }

    #carousel {
        overflow: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

    #carousel::-webkit-scrollbar {
    height: 0;
    }

    #prev,
    #next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    }

    #prev {
    top: 50%;
    left: 0;
    transform: translate(-150%, -50%);
    display: none;
    }

    #next {
    top: 50%;
    right: 0;
    transform: translate(150%, -50%);
    }

    #content {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    }

    .item {
    width: 280px;
    height: 280px;
    background: green;
    }









    /*Blog Section*/
    .header-text-blog, .header-text-social{
        width: 70%;
        margin: auto;
        text-align: center;
        padding: 20% 0% 10% 0%;
        
    }
    .header-text-blog h2, .header-text-social h2{
        font-size: 30px;
        margin-bottom: 0%;
        font-weight: bold;
        color: #eb4a4a;
    }
    .latest-blog {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
    }

    .blog {
        display: flex;
        flex-direction: column;
        width: clamp(20rem, calc(20rem + 2vw), 22rem);
        width: 100%;
        height: auto;
        overflow: auto;
        border-radius: 6px;
        background-color: #171f38;
        padding: 0.6em;

    }
    .blog-section{
        padding: 5%;
        height: 100%;
    }


    .blog-image{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog__image {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
    }

    .blog-tag {
        margin-top: -15%;
        padding: 0.6em;
        margin-left: -15%;
    }

    .tag {
        width: 75px;
        height: 31px;
        align-self: flex-start;
        padding: .25em .75em;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
    }

    .tag-item {
        background-color: #171F38;
        color: #eb4a4a;
    }

    .blog-date {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: regular;
        padding-left: 4px;
    }

    .blog-date p {
        margin: 18px 0 0 10px;
    }

    .fa-calendar {
        color: #808dad;
        margin-top: 20px;
    }

    .blog-date p {
        color: #808da8;
    }
    .blog-content{
        margin-top: 10px;
    }

    .blog-content h3{
        color: #ffffff;
        font-size: 22px;
        font-weight: 700;
        padding-top:10px;
    }
    .blog-content p {
        padding: 20px 0;
    }
    .blog-content a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: #eb4a4a;
    }

    /*End of Blog Section*/



    /*Starting of Social Section*/
   
    section.social-profile{
    display: none;
    }
    /*End of Social Section*/



    /*Starting of Get in touch*/

    .contact-container {
    padding-top: 15%;
    }

    .contact-content {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    padding: 5%;
    }

    .touch {
    width: 100%;
    display: flex;
    flex-direction: column;
    }

    .touch h2{
    font-size: 30px;
    margin-bottom: 10%;
    font-weight: bold;

    }
    .get-divider{
    height: 0.1px;
    background-color: rgba(128, 141, 173, 0.2);
    }

    .touch div {
    margin-top: 20px;
    color: #808dad;
    font-size: 18px;
    }

    .touch-title{
    margin-left: 2%;

    }
    .touch div .fa {
    margin-right: 32px;
    color: #ffffff;
    }

    .contact-social{
        padding-top: 10%;
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .contact-social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    }

    .contact-form {
    width: 100%;
    height: auto;
    background-color: #171F38;
    padding: 10%;
    border-radius: 4px;
    margin-top: 16%;
    }

    .input-wrapper .input-data {
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 17%;
    }
    .input-wrapper .input-data input {
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    border-bottom: 1px solid #808dad;
    color: #808dad;
    }

    .input-wrapper .input-data textarea{
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: #808dad;
    padding-top: 30px;
    height: 150px;
    }

    .input-data input:focus~label,
    .input-data input:valid~label {
    transform: translateY(-20px);
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    }


    .input-data textarea:focus~label{
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    }

    .input-wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 20px;
    }

    .input-data .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    }

    .input-data .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
    }

    .input-data .underline1 {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 10;
    }

    .input-data .underline1:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #808dad;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform 0.3s ease;
    }
    .input-data input:focus~.underline:before,
    .input-data input:valid~.underline:before {
    transform: scaleX(1);
    }

    .input-data textarea:focus~.underline1:before {
    transform: scaleX(1);
    background: #ffffff;
    }

    .submit-button{
    width: 188px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #eb4a4a;
    font-size: 20px;
    font-weight: 700;
    margin-top: 150px;
    outline: none;
    border: none;
    }
    .submit-button:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
    }

    /*End of Get in touch*/









    /*Starting of footer */
    .footer-content{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 306px;
    }
    .section-container-footer{
        display: none;
    padding-top: 146px;
    }
    .divider{
    height: 1px;
    background-color: rgba(128, 141, 168, 0.5);
    width: 100%;
    }
    .footer-content h4{
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
    }
    .footer-content input{
    height: 58px;
    width: 288px;
    outline: none;
    padding: 20px;
    }
    .footer-content input::placeholder {
    font-size: 16px;
    padding-left: 30px;
    }
    .fotter-items{
    display: flex;
    justify-content: center;
    }
    .footer-left p{
    width: 144px;
    height: 58px;
    margin-left: -1px;
    background-color: #eb4a4a;
    text-align: center;
    padding-top: 14px;
    font-size: 20;
    font-weight: 800;
    color: #ffffff;
    }

    .quick_links a{
    text-decoration: none;
    font-size: 20px;
    color: #808dad;
    padding: 10px;
    }
    .quick_links a:nth-child(1) {

    padding-left: 0;
    }

    .quick_links a:hover {
    color: #ffffff;
    }
    .quick_links .link-divide{
    color: #808dad;
    }

}

/* Navigation Menu */

    /* .responsive a{
        display: block;
    }

    .responsive a.hamburger {
        justify-content: center;
        display: block;
    } */

    /* .nav-links a{
        display: none;
    } */

    /* .nav-links a.hamburger {
        justify-content: center;
        display: block;
    } */

    /* .nav-links a.active::after {
        content: "";
        width: 2%;
        height: 2px;
        background: red;
        display: block;
        margin: auto;
    } */

    /* .nav-links.responsive { */
        /* position: relative; */
    /* } */

    /* .nav-links.responsive .hamburger {
        position: absolute;
        right: 0;
        top: 0;
    } */

    /* .nav-links .responsive a { */
        /* float: none; */
        /* display: block; */
        /* color: antiquewhite; */
        /* text-align: left; */
    /* }